.raido-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    input[type=radio]{
        display: none;
    }
    input[type=radio]+em{
        display: none;
    }
    input[type=radio]:checked+em{
        display: inline-block;
    }
    em{
        width: .533333rem;
        height: .533333rem;
        border-radius: 50%;
        background: #297CD5;
        position: relative;
        margin: 0;
    }
    i{
        width: .15rem;
        height: 0.3rem;
        display: inline-block;
        border-right: 2px solid #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
        transform: rotate(45deg);
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -0.2rem -0.075rem;
    }
}