$blue: #297cd5;
$txt-gray: #888888;
$txt-black: #333333;
$txt-red: #fd6c58;

.home-container {

  width: 100%;
  background: #f3f5f9;
  .swiper-container {
    width: 100%;
    height: 4.3rem;
    box-sizing: border-box;
    .am-wingblank.am-wingblank-lg {
      margin: 0 0;
    }
  }
  .slider {
    touch-action: none;
  }
  .slider-slide {
    .btn {
      position: absolute;
      z-index: 10;
      bottom: 0.66rem;
      width: 2.612rem;
      left: 50%;
      margin-left: -1.306rem;
    }
  }

  .icon-nav {
    width: 100%;
    padding: 0.6rem 0.8rem 0.5333rem;
    height: 3.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.266rem;
    background: #fff;
    span {
      width: 1.68rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 0.4rem;
      color: #333;
      line-height: 0.56rem;
      &::before {
        content: "";
        display: block;
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    .icon-english {
      &::before {
        background: url('../../../assets/images/icon-english.png') no-repeat;
        background-size: cover;
      }
    }
    .icon-math {
      &::before {
        background: url('../../../assets/images/icon-math.png') no-repeat;
        background-size: cover;
      }
    }
    .icon-program {
      &::before {
        background: url('../../../assets/images/icon-program.png') no-repeat;
        background-size: cover;
      }
    }
    .icon-guide {
      &::before {
        background: url('../../../assets/images/icon-guide.png') no-repeat;
        background-size: cover;
      }
    }
  }

  .free-course {
    // height: 13.3333rem;
    background: #fff;
    margin-bottom: 0.2666rem;
    .free-course-header {
      height: 1.5rem;
      //   border-bottom: 1px solid #E6E6E6;
      h1 {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.48rem;
        float: left;
        margin: 0 0 0 0.4rem;
      }
      .more {
        float: right;
        margin-right: 0.4rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.32rem;
        color: $txt-gray;
        &::after {
          content: '>';
          font-size: .4rem;
          margin-left: 0.1rem;
        }
      }
    }
    .free-course-content {
      width: 100%;
      height: auto;
      .course-item {
        box-sizing: border-box;
        padding: 0 .4rem 0.5333rem .4rem;

        .course-cover-img {
          width: 3.52rem;
          height: 2.24rem;
          float: left;
          margin-right: 0.3733rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .limit-discount {
    background: #fff;
    margin-bottom: 0.2666rem;
    .title {
      text-align: center;
      padding: .4533rem 0 .345rem 0;
      img {
        height: 0.8rem;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      padding: 0 .4rem;
      padding-bottom: .53rem;
      .item {
        background-size: cover;
        width: 4.4267rem;
        box-shadow: 0 1px  6px rgba(0,0,0,.2);
        border-radius: 4px;
        overflow: hidden;
        .head {
          height: 2.7rem;
          display: inline-block;
          padding: .2666rem .2666rem .32rem;
          color: #ffffff;
          width: 100%;
          .name {
            font-size: .38rem;
            line-height: .46rem;
            height: .46rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
          }
          .des {
            font-size: .32rem;
            padding-top: .16rem;
            line-height: 1.4;
            height: 1.04rem;
            display: -webkit-box;
            display: -webkit-inline-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp:2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            width: 4rem;
          }
          .last {
            margin-top: .2rem;
            span {
              display: inline-block;
              position: relative;
              height: .4rem;
              font-size: .29333rem;
              line-height: .4rem;
              padding: 0 .2rem;
              &::after {
                content: "";
                display: inline-block;
                width: 202%;
                height: 202%;
                transform: scale(.5);
                left: 0;
                top: 0;
                border: 1px solid #ffffff;
                position: absolute;
                transform-origin: left top;
                border-radius: .48rem;
              }
            }
          }
        }
        .key{
          font-size: .37rem;
          color: $txt-black;
          line-height: 1;
          padding: .24rem .2rem;
        }
        .values{
          display: flex;
          justify-content: space-between;
          padding: 0 .2rem;
          align-items: center;
          padding-bottom: .333rem;
          .l{
            .price{
              color: $txt-red;
              font-size: .48rem;
              span{
                font-size: .32rem;
              }
            }
            .pre{
              padding-top: .1rem;
              color: $txt-gray;
              font-size: .32rem;
              text-decoration: line-through;
              span{
                font-size: .266rem;
              }
            }
          }
          .r{
            a{
              display: inline-block;
              position: relative;
              padding: .12rem .2rem;
              &::after{
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                width: 200%;
                height: 200%;
                transform-origin: left top;
                transform: scale(.5);
                border: 1px solid $blue;
                content: " ";
                border-radius: 8px;
              }
            }
          }
        }
        &.brown {
          .head {
            background: url("../../../assets/images/home/img_limit_discount1.png") no-repeat;
          }
        }
        &.blue {
          .head {
            background: url("../../../assets/images/home/img_limit_discount2.png") no-repeat;
          }
        }
      }
    }
  }
  .team-of-experts {
    width: 100%;
    background: #fff;
    padding-bottom: .533rem;
    .team-of-experts-header {
      color: $txt-black;
      padding-top: .48rem;

      line-height: 1;
      font-size: 0.48rem;
      margin-left: 0.36rem;
    }
  }

  .home-footer {
    width: 100%;
    padding-top: 0.24rem;
    padding-bottom: .24rem;
    p {
      width: 100%;
      text-align: center;
      font-size: 0.32rem;
      line-height: 0.48rem;
      color: #bbbbbb;
    }
  }
}
