.nodata{
  padding-top: 2rem;
  text-align: center;
  background: #FCFCFC;
  img{
      width: 3.706667rem;
  }
  .notice{
      font-size: .4rem;
      line-height: 0.7333rem;
      color: #999999;
  }
}