.course-item{
    font-size: .346667rem;
    background: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: .4rem 0 0.4rem 0.4rem;
    position: relative;
    .img{
        width: 3.52rem;
        height: 2.24rem;
        border-radius: .066667rem;
        background: #999999;
        margin-right: .373333rem;
        img{
            width: 100%;
            height: 100%;
            border-radius: 0.08rem;
        }
    }
    .discript{
        height: 2.24rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .title{
            height: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            strong{
                font-size: 0.4533rem;
                font-weight: normal;
                max-width: 4.666667rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            em{
                font-size: 0.2933rem;
                display: inline-block;
                width: 1.0667rem;
                height: 0.4267rem;
                line-height: 0.4267rem;
                margin: 0;
                border-top-left-radius: .466667rem;
                border-bottom-left-radius: .466667rem;
                padding: 0 .173333rem;
                border: none;
            }
            .english{
                background:#dceefd;
                color: #297CD5;
            }
            .program{
                background:#ffe2e2;
                color: #E84342;
            }
            .math{
                background: #fdebd9;
                color: #FF8A02;
            }
        }
        .content{
            color: #999999;
            font-size: 0.3733rem;
            margin: 0.24rem .4rem .146667rem 0;
            line-height: 0.5067rem;
            word-break: break-all;
            text-overflow: ellipsis;
            display: -webkit-box;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            max-width: 5.333333rem;
        }
        .status{
            text-align: right;
            margin-right: .4rem;
            // position: absolute;
            // right: 0;
            // bottom: 0;
            a{
                padding: 0.0667rem 0.2133rem;
                border-radius: 0.2933rem;
                text-decoration: none;
            }
            .ing{
                color: #333333;
            }
            .end{
                color: #FFFFFF;
                background: #F2AD27;
            }
        }
    }
}