.tab-container {
  height: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  &::after {
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    height: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    transform: scale(.5);
    transform-origin: left top;
    content: " ";
  }
  .tab-item {
    width: 22%;
    height: 1.2rem;
    line-height: 1.2rem;
    display: block;
    text-align: center;
    font-size: 0.42rem;
    color: #333;
    position: relative;
    // &:first-child {
    //   width: 34%;
    // }
    &.all {
      width: 34%;
    }
    &.active {
      color: #297CD5;
      &::after {
        content: '';
        display: block;
        width: 1.86rem;
        height: 2px;
        background: #297CD5;
        position: absolute;
        left: 50%;
        bottom: 1px;
        border-radius: 8px;
        overflow: hidden;
        transform: translateX(-50%);
      }
    }
  }
}