.long-english-container {
  width: 100%;
  background: #f3f5f9;
  .slider {
    touch-action: manipulation ;
  }
  //高效学习
  .efficiency-learn-box {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    .e-l-t {
      padding-top: .8rem;
      padding-bottom: .32rem;
      text-align: center;
      .title {
        padding-bottom: .4rem;
        font-size: .48rem;
        font-weight: bold;
      }
      .desc {
        font-size: .37333rem;
        line-height: 1.5em;
        color: #666666;
        padding: 0 1rem;
      }
    }
    .item {
      width: 100%;
      box-shadow: 0 2px 5px rgba(197, 197, 197, .6);
      margin-bottom: 1rem;
      border-radius: 4px;
      overflow: hidden;
   //   min-height: 10.4rem;
      img {
        width: 100%;
      }
    }
  }
  //课程分级和教学目标
  .courseLevel-teachAim {
    .title {
      font-size: 18px;
      padding-left: 13px;
      padding-top: 21px;
    }
  }
  //教学系统
  .teachSys {
    background-color: #ffffff;
    .title {
      font-size: 18px;
      padding-left: 13px;
      padding-top: 21px;
    }
    .sys-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 19px 28px 0;
      margin-bottom: 10px;
      .item {
        width: 146px;
        padding-bottom: 20px;
        text-align: center;
        img {
          width: 75px;
          height: 75px;
          display: inline-block;
        }
        .big {
          font-size: 16px;
          font-weight: bold;
          line-height: 18px;
          color: #333333;
          padding: 10px 0 7px;
        }
        .small {
          font-size: 12px;
          line-height: 18px;
          color: #888888;
        }
      }
    }
  }
  //专家团队
  .team-experts-box {
    background-color: #ffffff;

    .title {
      font-size: 18px;
      padding-left: 13px;
      padding-top: 21px;
    }
  }
  //免费试听课
  .free-course {
    background: #fff;
    margin-top: 10px;
    .free-course-header {
      height: 1.5rem;
      h1 {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.48rem;
        float: left;
        margin: 0 0 0 0.4rem;
      }
      .more {
        float: right;
        margin-right: 0.4rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.32rem;
        color: #888888;
        &::after {
          content: '>';
          font-size: .4rem;
          margin-left: 0.1rem;
        }
      }
    }
    .free-course-content {
      width: 100%;
      height: auto;
      .course-item {
        box-sizing: border-box;
        padding: 0 .4rem 0.5333rem .4rem;
        .course-cover-img {
          width: 3.52rem;
          height: 2.24rem;
          float: left;
          margin-right: 0.3733rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}