.calendar-container {
  width: 8.8267rem;
  height: 4.4667rem;
  border-radius: 0.1333rem;
  box-shadow: 0 0.04rem 0.0933rem 0 rgba(183,183,183,0.55);
  margin: 0 auto 0.0933rem;
  .banner {
    width: 8.8267rem;
    height: 2.5333rem;
    background: url(../../../../assets/images/course/Bitmap.png) no-repeat;
    background-size: cover;
    border-radius: 0.1333rem 0.1333rem 0 0;
    padding-left: 0.64rem;
    padding-top: 0.5067rem;
    p {
      color: #fff;
      display: flex;
      align-items: baseline;
      margin-bottom: 0.1rem;
      font-size: 0.4rem;
      b {
        font-size: 1.0667rem;
        font-weight: 500;
        margin-right: 0.08rem;
      }
    }
    span {
      color: #fff;
      font-size: 0.3467rem;
    }
  }
  .calendar-wrap {
    height: 1.5rem;
    padding-top: 0.18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    >p {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      font-size: 0.4rem;
      color: #4A4A4A;
      &.weekend {
        color: #999;
      }
      &.active {
        &::after {
          content: '·';
          font-size: 1.0667rem;
          display: block;
          position: absolute;
          bottom: -0.6rem;
          left: 0.08rem;
          color: #F2AD27;
        }
      }
      b {
        width: 0.5333rem;
        height: 0.5333rem;
        text-align: center;
        line-height: 0.5333rem;
        font-weight: 400;
      }
      span {
        width: 0.5333rem;
        height: 0.5333rem;
        line-height: 0.5333rem;
        font-size: 0.4rem;
        text-indent: 0.0533rem;
        border-radius: 50%;
        &.active {
          background: #297CD5;
          color: #fff;
          font-size: 0.3734rem;
        }
      }
    }
  }

}